


.counter{
    color: yellow;
    width: 260px;
    height: 180px;
    background-color: rgba(7, 7, 253, 0.493);
    margin: 10px;
    border: 1px solid black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}
.hr{
    width: 150px;
    color: rgb(4, 11, 14);
    border: 2px solid red;
    border-radius: 30%;
}
.two{
   font-size: 30px;
    color: black;
}
.btn{
    padding: 5px 20px;
    margin: 10px;
}