
.screen{
    width: 400px;
    height: 150px;
    background-color: rgb(161, 161, 233);
    border: 2px double ;
}
.keyBord{
    width: 400px;
}
.appProject{
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
}
.space{
    width: 200px;
}
.colors:disabled{
    box-shadow: 0 0 30px 10px;
}